.progress-bar {
    -fx-min-height: 8px;
    -fx-pref-height: 8px;
    -fx-max-height: 8px;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 20px;
    -fx-padding: 0;
}

.progress-bar .bar {
    -fx-min-height: 8px;
    -fx-pref-height: 8px;
    -fx-max-height: 8px;
    -fx-background-color: #26C6DA;
    -fx-background-radius: 20px;
    -fx-background-insets: 0;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-padding: 0;
}
